<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297611912188-rk6h8k0hntnjj9peb1tvidavfgva7vr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297611912188-rk6h8k0hntnjj9peb1tvidavfgva7vr7</string>
	<key>API_KEY</key>
	<string>AIzaSyCqHicAK6FHyRWbBY66c45_hmnNBRGcnFo</string>
	<key>GCM_SENDER_ID</key>
	<string>297611912188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petking.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>petking-e9d2b</string>
	<key>STORAGE_BUCKET</key>
	<string>petking-e9d2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297611912188:ios:8633909f6a12d638d64879</string>
</dict>
</plist>